@model string

@{
    ViewBag.Title = "Numbers Game - View Game";
}

<div id="game">
    <h1>Numbers Game</h1>
    <h2>Player: </h2>
    <div class="game-board">
        <table class="game-board-table">
            <tr class="row-a">
                <td class="cell-a1"></td>
                <td class="cell-a2"></td>
                <td class="cell-a3"></td>
            </tr>
            <tr class="row-b">
                <td class="cell-b1"></td>
                <td class="cell-b2"></td>
                <td class="cell-b3"></td>
            </tr>
            <tr class="row-c">
                <td class="cell-c1"></td>
                <td class="cell-c2"></td>
                <td class="cell-c3"></td>
            </tr>
        </table>
        <p>Moves: <span class="move-count"></span></p>
    </div>
    <div class="view-controls">
        <button class="link-button start">|&lt;</button>
        <button class="link-button back">&lt;&lt;</button>
        <button class="link-button forward">&gt;&gt;</button>
        <button class="link-button end">&gt;|</button>
    </div>
    <div class="controls">
        @Html.ActionLink("New Game", "Game", "Home", null, new { @class = "link-button", @style = "margin-right: 10px;" })
        @Html.ActionLink("High Scores", "HighScores", "Home", null, new { @class = "link-button" })
    </div>

    <script type="text/javascript" src="@Url.Content("~/Scripts/numbers-game-core.js")"></script>

    <script type="text/javascript">
        console.log(@(Html.Raw(Model)));
        startingPosition = @(Html.Raw(Model)).StartingPosition;
        moves = @(Html.Raw(Model)).Moves;
        @*startingPosition = @(Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.StartingPosition)));
        moves = @(Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.Moves)));*@
    </script>

    <script type="text/javascript" src="@Url.Content("~/Scripts/numbers-game-viewer.js")"></script>
</div>
